body{
    text-align: center;
    font-family: Roboto Mono;  
    background-color:antiquewhite;
}

.title{ 
    color: dodgerblue;
    font-family: Oswald;
}

h4{ 
    color:darkorange  
}

.Clips{
    color: dodgerblue;
    font-weight: bold;
    font-family: Oswald;
    text-align: left;
}

.Contact{
    color: dodgerblue;
    font-weight: bold;
    font-family: Oswald;
    text-align: left;
}

.Resume{
    color: dodgerblue;
    font-weight: bold;
    font-family: Oswald;
    text-align: left;
}

