.header{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:#b32929;    
}

.header h1{
    background-color:lightpink;
    display: inline;
}

.header h6{
    padding-top: 10px;
    font-size: 15px;
}

body{
    font-family: 'Arvo', serif;
    font-size: 20px;
    color:maroon;
    padding-left: 5px;
    background-color:gainsboro;
    
}

.col-md-6 p{
    font-size: 20px;
    background-color:lightpink;
    display: inline;
}


.p1{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.p2{
    padding-top:20px;
    padding-bottom: 10px;
    
}

.p3{
    padding-bottom: 20px;
}

figcaption{
    font-family:merriweather,serif;
    font-size: 12px;
}


@media (max-width:768px) {

        .header{
            text-align: center;
            font-family: Anton,sans-serif;
            color:#b32929; 
            font-size:1em;
        }
        
        .header h1{
            background-color:lightpink;
            display: inline;
        }
        
        
        
        .header h6{
            padding-top: 10px;
            
        } 


} 
